{% extends "layoutHome.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

        <div id="actual" class="d-none">Courses</div>

        <h2 class="display-6 mb-3">Chapter Overview: Chapter {{ chapter['chapter_id'] }} of {{ enrollment['course_id']  }}</h1>
        <h3 class="mb-3">Progress: {{ chapter['progress']  }}%</h3>
        <div class="progress mb-3">
          <div class="progress-bar" role="progressbar" style="width: {{ chapter['progress']  }}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>

        <h3 class="h3 mb-3">Lessons</h3>
        <div class='row mb-5'>
            <div class='col-12'>
                    {% if lessons|length > 0 %}
                    <div class="accordion mb-3" id="lessons">
                      <div class="accordion mb-3" id="lessons">
                        {% for lesson in lessons %}
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading{{ chapter['chapter_id'] }}_{{ lesson['lesson_id'] }}">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ chapter['chapter_id'] }}_{{ lesson['lesson_id'] }}" aria-expanded="false" aria-controls="collapse{{ chapter['chapter_id'] }}_{{ lesson['lesson_id'] }}">
                                Lesson {{ lesson['lesson_id'] }}: {{ lesson['title'] }}
                              </button>
                            </h2>
                            <div id="collapse{{ chapter['chapter_id'] }}_{{ lesson['lesson_id'] }}" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne"  data-bs-parent="#lessons">
                              <div class="accordion-body accordion-body-sm">
                                <div class="row">
                                  <div class="col-12 mb-3">
                                    {{ lesson['content'] }}
                                  </div>
                                  <div class="col-12 d-flex justify-content-end align-items-center">
                                    <strong class="me-2">{{ lesson['status'] }}</strong>
                                    {% if lesson['status'] == 'Incomplete' %}
                                      <form action="/course/{{enrollment['course_id']}}/chapter/{{chapter['chapter_id']}}/lessonCompleted/{{lesson['lesson_id']}}" method="POST">
                                        <button type="submit" class="btn btn-outline-primary" >Mark as completed</button>
                                      </form>
                                    {% endif %}
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        {% endfor %}
                      </div>
                    </div>
                    {% else %}
                    <div class="col-12">
                      <h6 class="mb-3">There are not registered lessons yet </h1>
                    </div>
                    {% endif %}
            </div>
        </div -->

{% endblock %}